@import "tailwindcss";

/* Only define the custom font without assigning it globally */
@font-face {
  font-family: 'NeonVortex';
  src: url('/fonts/NeonVortex.ttf') format('truetype');
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: Arial, Helvetica, sans-serif; /* Default font */
}

/* Apply custom font only when the class is used */
.neon-vortex {
  font-family: 'NeonVortex', sans-serif;
}
